@page "/Api/Usuario"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity


<!DOCTYPE html>
    <html>

        <head>
            <title>Usuarios</title>
            @* hacer un nuevo archivo para hacer el diseño de pagina a los usuarios *@
            <link href="./css/Usuarios.css" rel="stylesheet" />  
        </head>

        <body>

            <header>
                <h1 class="text-center text-danger text-uppercase">Usuarios</h1>
            </header>
   
            <main>

            </main>
        
            <footer>

            </footer>
    
        </body>

    </html>

@code {

}
