@page "/Api/Pago"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <header>
        <h1>Pagos</h1>
    </header>

    <main>

    </main>

    <footer>

    </footer>


</body>
</html>

@code {

}
