@page "/Api/Cancha"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title>Cancha</title>
    </head>
    <body>
        
        <header>
            <h1>Canchas</h1>
        </header>

        <main>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
