@page "/Api/Equipo"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
<html>
<head>
    <title>Equipo</title>
</head>
<body>

    <header>
        <h1>Equipo</h1>
    </header>

    <main>

    </main>

    <footer>
    
    </footer>

</body>
</html>

@code {

}
