@page "/Api/Partido"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <header>
        <h1>Partidos</h1>
    </header>


    <main>

    </main>

    <footer>
    </footer>

</body>
</html>

@code {

}
