@page "/Api/Equipo1"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title>Equiipo 1</title>
    </head>
    <body>

        <header>
            <h1>Equipo 1</h1>
        </header>

        <main>

        </main>
        
        <footer>

        </footer>

    
    </body>
    </html>

@code {

}
