@page "/Api/Equipo2"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title>Equipo 2</title>
    </head>
    <body>

        <header>
            <h1>Equipo 2</h1>
        </header>

        <main>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>


@code {

}
