@page "/contacto"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<!DOCTYPE html>
    <html>
    <head>
        <title>contacto</title>
    </head>
    
    <body>
        
        <header>
            @* <h3 class="text-center">Contacto</h3> *@
            <div class="bg-secondary">
                <h1 class="text-center">Complejo deportivo "La Gran 7" - <span>Oficial</span></h1>
            </div>

        <div class="bg-danger">

            <nav class="navegacion-principal">

                @* <a href="/">Inicio</a> *@
                <a href="/Api/Usuario">Usuarios</a>
                <a href="/Api/Reservas">Reservas</a>
                <a href="/Api/Partido">Partidos</a>
                <a href="/Api/Pago">Pagos</a>
                <a href="/Api/Equipo1">Equipo 1</a>
                <a href="/Api/Equipo2">Equipo 2</a>
                <a href="/Api/Equipo">Equipo</a>
                <a href="/Api/Cancha">Cancha</a>

            </nav>

        </div>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
