@page "/contacto"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<!DOCTYPE html>
    <html>
    <head>
        <title>contacto</title>
    </head>
    
    <body>
        
        <header>
            <h3 class="text-center">Contacto</h3>
        </header>

        <main>

        </main>

        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
