@page "/"
   <PageTitle>Página principal</PageTitle>


   <!DOCTYPE html>
    <html>

    <head>
        <title>Complejo La Gran 7 - Home</title>
    </head>

    <body >

        <header>


            <div class="bg-black text-white text-md-center link-dark bg-success text-uppercase text-white ">
                
                <h1 class="bg-primary">Complejo futbolístico deportivo - La Gran 7 </h1>

                <h4 class="text-center">Quiénes somos?</h4>
                
                <p class="text-center"> 
                    Bienvenidos a La Gran 7, el complejo deportivo que reúne a apasionados del fútbol de todas las edades y géneros. 
                    En nuestro predio, fomentamos el deporte, 
                    la camaradería y el espíritu de equipo, ofreciendo un espacio inclusivo y 
                    dinámico donde todos son bienvenidos a jugar y divertirse.
                </p>

                <h4 class="text-center">Nuestra misión</h4>

                <p class="text-center">
                    Nuestra misión es conectar a las personas a través del fútbol, promoviendo partidos mixtos que integren 
                    a hombres y mujeres de cualquier edad. 
                    Creemos que el deporte es una poderosa herramienta para construir comunidad y bienestar.
                </p>

                <h4 class="text-center">Lo Que Ofrecemos</h4>

                <p class="text-center">
                    Canchas de Fútbol: Canchas en excelente estado, disponibles para reservas y partidos amistosos.
                    Partidos Mixtos: Organizamos partidos mixtos para que todos puedan participar, independientemente de su género o edad.
                    Autorización Para Menores: Si eres menor de edad, puedes jugar acompañado por tus padres y 
                    con una autorización firmada para asegurar un ambiente seguro.
                    Bar y Entretenimiento: Después del partido, disfruta de nuestro acogedor bar con televisión y música. 
                    Es el lugar perfecto para relajarte, 
                    compartir una comida y disfrutar con tus compañeros de juego.
                </p>

                <h3>Únete a Nosotros</h3>

                <p>
                    En La Gran 7, estamos comprometidos en ofrecer una experiencia única. 
                    Ven y forma parte de nuestra comunidad deportiva,
                    donde la diversión y el respeto son las reglas del juego.
                    ¡Te esperamos para jugar, disfrutar y hacer nuevos amigos!
                </p>
            
            </div>
            
            <section>
                
                <h2 class="text-center border-2 border border-dark bg-dark text-uppercase text-danger">Reglamento para partidos mixtos</h2>

                <div class="text-lg-start fw-bolder text-center bg-dark text-danger">
                
                    <p class="text-uppercase text-warning">
                        En los partidos mixtos, si hay una mujer en el arco, los jugadores deben 
                        patear desde más allá de la mitad de la cancha y cerca del área. No se permite patear fuerte al arco.
                        Siempre que sea posible debe haber hombres en el arco.
                    </p>
            
                </div>
            
            </section>

            


            


        </header>
        
        <main>

            <section>


                <div class="text-lg-start fw-bolder text-center bg-dark text-danger ">

                <h2 class="text-center text-uppercase"> Sistema de Multas por cancelaciones </h2>
                

                    <p>


                    <p class="text-uppercase text-warning">
                        Objetivo: Implementar un sistema de multas para reducir el impacto
                        económico negativo causado por las cancelaciones tardías y la no asistencia 
                        a las reservas de canchas de fútbol.
                    </p>
                

                        <h2>Descripción:</h2>

                        <p class="text-white-50 text-uppercase">1) Reservas:</p>

                        Los usuarios pueden reservar canchas de fútbol a través de nuestra plataforma en línea con antelación.

                        Se requiere el pago de un depósito al momento de realizar la reserva,
                        que será descontado del costo total de la reserva.
                        </p>

                        <p class="text-white-50 text-uppercase">2) Cancelaciones:</p>

                        <p>
                            Los usuarios pueden cancelar su reserva sin costo hasta 24 horas antes del horario reservado.

                            Si la cancelación se realiza con menos de 24 horas de antelación,
                            se aplicará una multa del 50% del costo total de la reserva.
                        </p>

                        <p class="text-white-50 text-uppercase">3) No asistencia:</p>

                        <p>
                            Si el usuario no se presenta en la hora reservada y no ha realizado una cancelación previa,
                            se cobrará una multa equivalente al 100% del costo total de la reserva.

                            Esta multa se descontará automáticamente del depósito pagado al momento de la reserva,
                            y cualquier saldo restante será cargado a la tarjeta de crédito registrada en la cuenta del usuario.
                        </p>

                        <p class="text-white-50 text-uppercase">4) Impácto económico:</p>

                        <p>
                            Las canchas de fútbol que no se utilizan debido a la no asistencia de los usuarios representan
                            una pérdida económica significativa para el negocio,
                            ya que otros clientes interesados no pueden reservarlas.

                            Al implementar este sistema de multas,
                            incentivamos a los usuarios a cancelar sus reservas con anticipación si no pueden asistir,
                            permitiendo que otras personas puedan ocupar esos espacios y maximizando el uso de las instalaciones.
                        </p>


                    </div>

                    <div class="text-center text-uppercase fw-bolder ">
                        <p>Te esperamos.. Vení a jugar con tus amigos </p>
                    </div>

            </section>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>
