@page "/"
   <PageTitle>Página principal</PageTitle>


   <!DOCTYPE html>

    <html>

        <head>
            <title>Complejo La Gran 7 - Home</title>

            @* enlace a css *@
            <link href="./css" rel="stylesheet" />
        </head>

        <body>

            <header>
                <h1>Página principal "La Gran 7"</h1>
            </header>
        
            <main>

            </main>
               

            <footer>
               
            </footer>

        </body>
              
    </html>





   



   

