@page "/"
   <PageTitle>Home</PageTitle>

<!DOCTYPE html>

    <html>

        <head>

            <title>La Gran Siete - Inicio</title>

        

    
        </head>

            <body class="bg-success.bg-gradient">

                <header>
                     <h1 class="text-center bg-dark.bg-gradient">Complejo deportivo - La Gran 7</h1>
                </header> 
            
            
                <main>

                    <p>Vení a jugar con tus amigos</p>

                </main> 
            
            
            
                <footer>

                </footer>

    
            </body>
    
    </html>

