@page "/"
   <PageTitle>Home</PageTitle>

<!DOCTYPE html>
    <html>

    <head>
        <title>La Gran Siete - Inicio</title>


        

    
    </head>

        <body>

            <header>
                 <h1 class="text-center">La Gran 7 Córdoba - Argentina !!</h1>
            </header> 
            
            
            <main>

            </main> 
            
            
            
            <footer>

            </footer>

    
        </body>
    
    </html>

