@page "/nosotros"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        
        <header>
            <h3>Nosotros</h3>
        </header>
        <main></main>
        <footer></footer>
    
    </body>
    </html>

@code {

}
