@page "/nosotros"
@inject IHTTPServicio http
@inject NavigationManager navigationManager

<!DOCTYPE html>
    <html>
    <head>
        <title>Nosotros</title>
    </head>
    <body>
        
        <header>
            <h3 class="text-center">Nosotros</h3>
        </header>
        
        <main>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
