@page "/servicios"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<!DOCTYPE html>
    <html>
    
        <head>
            <title>Servicios</title>
        </head>
    
        <body>
        
            <header>
                
                <h3>Servicios</h3>
                
            </header>
            
            <main>

            </main>
            
            <footer>

            </footer>
    
        </body>
    </html>

@code {

}
