.field-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: repeating-linear-gradient( to bottom, transparent, transparent 49%, white 50%, white 51%, transparent 100% );
}

.neon-text {
    color: #39ff14; /* Neon Green */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #39ff14, 0 0 80px #39ff14, 0 0 90px #39ff14, 0 0 100px #39ff14, 0 0 150px #39ff14;
}

.container {
    background-color: #000; /* Black Background */
}

.center-circle, .penalty-box, .goal-box {
    position: absolute;
    border: 1px solid white;
}

.center-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.penalty-box {
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goal-box {
    width: 80px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.impact-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    animation: glow 1.5s ease-in-out infinite alternate;
}

/*Usado param crear graficos en movimiento*/
@keyframes glow {
    from {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
    }

    to {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff;
    }
}

/*CODIGO DE CSS DE LA SECCION LISTa de reservas*/
.highlight-title {
    background: linear-gradient(45deg, #1e90ff, #ff6347);
    color: white;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    animation: glow 1.5s ease-in-out infinite alternate;
}

.highlight-paragraph {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

    .highlight-paragraph strong {
        color: #ff6347;
    }

/*Usado param crear graficos en movimiento*/
@keyframes glow {
    from {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 0 0 10px #007bff, 0 0 20px #007bff, 0 0 30px #007bff;
    }

    to {
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 0 0 20px #007bff, 0 0 30px #007bff, 0 0 40px #007bff;
    }
}


/*efecto viual en Reservá tu lugar*/
.blink {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.pulse {
    display: inline-block;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


/*codigo de imagen de reserva*/
.carousel-item img {
    height: 300px; /* Ajusta esta altura según tus preferencias */
    object-fit: cover;
    border-radius: 10px; /* Añade bordes redondeados para un toque más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para destacar */
}


/*diseño del boton de reservas en la sección de la lista de las reservas*/
.custom-btn {
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
    transition: all 0.3s ease; /* Transición suave */
    padding: 10px 20px; /* Ajuste del tamaño del botón */
    font-weight: bold; /* Texto en negrita */
    background-color: #28a745; /* Color de fondo */
    border: none; /* Sin borde */
}

.custom-btn:hover {
    background-color: #218838; /* Color al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombreado al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}







