@page "/Api/Usuario"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<!DOCTYPE html>
<html>
<head>
    <title>Lista usuarios</title>
</head>
<body>

    <header>
        <h1 class="text-center">Usuarios</h1>
        <h2 class="text-center">Completá el formulario con tu datos !</h2>
       
        <div class="bg-secondary">
            <h1 class="text-center">Complejo deportivo "La Gran 7" - <span>Oficial</span></h1>
        </div>

        <div class="bg-danger">

            <nav class="navegacion-principal">

                @* <a href="/">Inicio</a> *@
                <a href="/Api/Usuario">Usuarios</a>
                <a href="/Api/Reservas">Reservas</a>
                <a href="/Api/Partido">Partidos</a>
                <a href="/Api/Pago">Pagos</a>
                <a href="/Api/Equipo1">Equipo 1</a>
                <a href="/Api/Equipo2">Equipo 2</a>
                <a href="/Api/Equipo">Equipo</a>
                <a href="/Api/Cancha">Cancha</a>

            </nav>

        </div>

    </header>

    <main>

      @* acá va un formulario de acceso como usuario para los usuarios de la pagina *@
       


       


    </main>

    <footer>

    </footer>

</body>
</html>

@code {
   
   

    
  

  


    

  
        
   
}
       

