@page "/Api/Usuario"

<!DOCTYPE html>
    <html>
    <head>
        <title>Lista usuarios</title>
    </head>
    <body>
        
        <header>
            <h1>Lista de usuarios</h1>
            <h3>Lista de usuarios</h3>
        </header>

        <main>

        </main>
        
        <footer>

        </footer>
    
    </body>
    </html>

@code {

}
