@page "/Api/Usuario"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<!DOCTYPE html>
<html>
<head>
    <title>Lista usuarios</title>
</head>
<body>

    <header>
        <h1 class="text-center">Hacete usuario de nuestra web !!</h1>
        <h2 class="text-center">Completá el formulario con tu datos !</h2>
       
    </header>

    <main>

      @* acá va un formulario de acceso como usuario para los usuarios de la pagina *@
       


       


    </main>

    <footer>

    </footer>

</body>
</html>

@code {
   
   

    
  

  


    

  
        
   
}
       

